<div class="card">
        <div class="card-body">
            <h3 class="card-title"><%= @email %></h3>
            <p class="card-text"><%= @email %></p>
            <button type="button" class="btn btn-primary">Marquer comme non-lu</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
</div>